if config.disqus_shortname
    a#comments
    #disqus_thread
    script.
        var disqus_shortname = '#{config.disqus_shortname}';
        var disqus_config = function () {
            this.page.url = '#{page.permalink}';
            this.page.identifier = '#{page.permalink}';
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    script(id='dsq-count-scr' src='//#{config.disqus_shortname}.disqus.com/count.js' async)
