.sidebar.animated.fadeInDown
  .logo-title
    .title
      h3(title="")
        a(href="/")= config.title
      if config.subtitle
        .description
          p= config.subtitle

  ul.social-links
    if config.social_twitter
      li
        a(href="https://twitter.com/" + config.social_twitter)
          i.fa.fa-twitter
    if config.social_instagram
      li
        a(href="http://instagram.com/" + config.social_instagram)
          i.fa.fa-instagram
    if config.social_rss
      li
        a(href= url_for(config.social_rss))
          i.fa.fa-rss
    if config.social_weibo
      li
        a(href="http://weibo.com/" + config.social_weibo)
          i.fa.fa-weibo
    if config.social_facebook
      li
        a(href="http://facebook.com/" + config.social_facebook)
          i.fa.fa-facebook
    if config.social_github
      li
        a(href="https://github.com/" + config.social_github)
          i.fa.fa-github
