.sidebar.animated.fadeInDown
  .logo-title
    .title
      h3(title="")
        a(href="/")= config.title
      if config.subtitle
        .description
          p= config.subtitle

  ul.social-links
    if config.social_telegram
      li
        a(href="https://t.me/" + config.social_telegram)
          i.fa.fa-telegram
    if config.social_twitter
      li
        a(href="https://twitter.com/" + config.social_twitter)
          i.fa.fa-twitter
    if config.social_flickr
      li
        a(href="https://www.flickr.com/photos/" + config.social_flickr)
          i.fa.fa-flickr
    if config.social_weibo
      li
        a(href="https://weibo.com/" + config.social_weibo)
          i.fa.fa-weibo
    if config.social_github
      li
        a(href="https://github.com/" + config.social_github)
          i.fa.fa-github
    if config.social_wechat
      li
        a(href=config.social_wechat)
          i.fa.fa-wechat
    if config.social_alipay
      li
        a(href=config.social_alipay)
          i.fa.fa-credit-card
